* {
    margin: 0;
    padding: 0;
}

.canvas {
    display: grid;

    grid-template-columns: repeat(9, 11.11%);
    grid-template-rows: repeat(7, 14.28%);
    
    width: 100vw;
    height: 100vh;
}

.clear {
    background-color:rgba(255, 255, 255, 0);
    /* grid-area: clear; */
}

.green {
    background-color: rgb(43, 141, 43);
    /* grid-area: green; */
}

.white {
    background-color: white;
    /* grid-area: white; */
}

.black {
    background-color: black;
    /* grid-area: black; */
}

.brown {
    background-color: rgb(134, 74, 34);
    /* grid-area: brown; */
}

.blue {
    background-color: rgb(2, 2, 211);
    /* grid-area: blue; */
}